{% extends 'employees/base.html' %}
{% block content %}

<div class="container">
    <h4>EMPLOYEES</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">E Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Designation</th>
                <th scope="col">Department</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="emp_body_list">


        </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="book-meeting-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <br>
                    <form method="POST" action="{% url 'bookslot' %}" id="book-meeting">
                        <div class="row">

                            {% csrf_token %}
                            <input type="text" hidden name="emp_id_1" id="emp_id_1">
                            <div class="form-group col-sm-6 my-5" id="select_id">
                                <label for="selected-employee">Selected employee</label>
                                <input class="form-control" type="text" hidden name="selected-employee" readonly
                                    id="selected-employee">
                                </input>

                            </div>
                            <div class="form-group col-sm-6 my-4" id="select_id">
                                <label for="emp_select">Select Emloyee</label>
                                <select class="form-control" placeholder="Select" name="emp_id_2" id="emp_select"
                                    required onchange="myfunction3.call(this)">

                                </select>
                            </div>
                            <div class="form-group col-sm-6 my-5">
                                <label for="meeting-date">Select Date</label>
                                <input type="date" class="form-control" id="meeting-date" name="meeting_date" required
                                    onchange="myfunction3.call(this)" min="2021-06-26">
                            </div>
                            <div class="form-group col-sm-6 my-5" id="select_id">
                                <label for="slot_select">Select Slot</label>
                                <select class="form-control" name="slot_select" id="slot_select" required>
                                    <option disabled selected value> --Available Slots--</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 my-5" id="message_text">
                                <label for="book-message">Message</label>
                                <textarea class="form-control" placeholder="message" id="book-message" , name="message">
                            </textarea>
                            </div>
                            <br><br> <br>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$("#book-meeting").submit(function (event) {
    event.preventDefault();
    $("#slot_select").prop('required', true);
    if ($("#book-meeting")[0].checkValidity()) {
        $.ajax(
            {
                type: "POST",
                url: "{%url 'bookslot' %}",
                method: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    console.log("not working")
                    swal("Created", data.message, "success");
                    $("#book-meeting-modal .close").click();
                    $("#book-meeting-modal .close").trigger("click");
                },
                error: function (data) {
                    alert(data)
                },
            }
        )
    }
    else {
        $("#book-meeting")[0].reportValidity()

    }
});
</script>
{% endblock %}